.App {
  text-align: center;
  margin-top: 100px;
}

input {
  margin-left: 10px;
  margin-top: 15px;
}

input[type='checkbox']{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: -50px;
}

label {
  display: block;
}

button {
  display: block;
  margin: 50px auto;
}

span {
  color: red;
  font-size: 10px;
  margin-left: 10px;
}